* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  display: flex;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  padding: 0 12px;
  row-gap: 24px;
}

.col-auto {
  width: auto;
  padding: 0 12px;
}

@media screen and (min-width: 560px) {
  .col-sm-1 {
    padding-left: 12px;
    padding-right: 12px;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
  }
  .col-sm-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    padding-left: 12px;
    padding-right: 12px;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
  }
  .col-sm-7 {
    padding-left: 12px;
    padding-right: 12px;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    padding-left: 12px;
    padding-right: 12px;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    padding-left: 12px;
    padding-right: 12px;
    width: 75%;
  }
  .col-sm-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    padding-left: 12px;
    padding-right: 12px;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
  }
}
@media screen and (min-width: 780px) {
  .col-md-1 {
    padding-left: 12px;
    padding-right: 12px;
    width: 8.3333333333%;
  }
  .col-md-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6666666667%;
  }
  .col-md-3 {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
  }
  .col-md-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 33.3333333333%;
  }
  .col-md-5 {
    padding-left: 12px;
    padding-right: 12px;
    width: 41.6666666667%;
  }
  .col-md-6 {
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
  }
  .col-md-7 {
    padding-left: 12px;
    padding-right: 12px;
    width: 58.3333333333%;
  }
  .col-md-8 {
    padding-left: 12px;
    padding-right: 12px;
    width: 66.6666666667%;
  }
  .col-md-9 {
    padding-left: 12px;
    padding-right: 12px;
    width: 75%;
  }
  .col-md-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3333333333%;
  }
  .col-md-11 {
    padding-left: 12px;
    padding-right: 12px;
    width: 91.6666666667%;
  }
  .col-md-12 {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
  }
}
@media screen and (min-width: 980px) {
  .col-lg-1 {
    padding-left: 12px;
    padding-right: 12px;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
  }
  .col-lg-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    padding-left: 12px;
    padding-right: 12px;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
  }
  .col-lg-7 {
    padding-left: 12px;
    padding-right: 12px;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    padding-left: 12px;
    padding-right: 12px;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    padding-left: 12px;
    padding-right: 12px;
    width: 75%;
  }
  .col-lg-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    padding-left: 12px;
    padding-right: 12px;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
  }
}
.col-1 {
  padding-left: 12px;
  padding-right: 12px;
  width: 8.3333333333%;
}

.col-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: 16.6666666667%;
}

.col-3 {
  padding-left: 12px;
  padding-right: 12px;
  width: 25%;
}

.col-4 {
  padding-left: 12px;
  padding-right: 12px;
  width: 33.3333333333%;
}

.col-5 {
  padding-left: 12px;
  padding-right: 12px;
  width: 41.6666666667%;
}

.col-6 {
  padding-left: 12px;
  padding-right: 12px;
  width: 50%;
}

.col-7 {
  padding-left: 12px;
  padding-right: 12px;
  width: 58.3333333333%;
}

.col-8 {
  padding-left: 12px;
  padding-right: 12px;
  width: 66.6666666667%;
}

.col-9 {
  padding-left: 12px;
  padding-right: 12px;
  width: 75%;
}

.col-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: 83.3333333333%;
}

.col-11 {
  padding-left: 12px;
  padding-right: 12px;
  width: 91.6666666667%;
}

.col-12 {
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-direction-column {
  flex-direction: column;
}

@media (max-width: 780px) {
  .d-sm-none {
    display: none;
  }
  .sm-justify-content-center {
    justify-content: center;
  }
  .sm-align-items-center {
    align-items: center;
  }
  .sm-wrap {
    flex-wrap: wrap;
  }
  .sm-gap {
    gap: 30px;
  }
  .sm-direction-column {
    flex-direction: column;
  }
  .sm-position {
    position: none;
  }
}
@media (min-width: 780px) {
  .d-md-none {
    display: none;
  }
}

/*# sourceMappingURL=grid.css.map */
