
h1, h2, h3, h4, h5, h6, p, span, input, button, form,
header, section, div, footer, ul, li, a, ol, dl, dd, dt {
    font-family: "Roboto", sans-serif;
}

$CoolGray:#21272A;
$primeryBlue:#1CAEF8;

/* _____________________________HEADER_____________________________ */
header{
    padding: 16px 0;
}

header{
    .navbar{
        .gap-list-item{
            gap:16px;
        }
    }

    li{
        a{
            font: {
                size: 16px;
                weight: 500;
            }

            color: $CoolGray;
            line-height: 100%;
        }

        :hover{
                color: $primeryBlue;
            }
    }
}

header {
    .dropdown-content {
        background: linear-gradient(239deg, #1CAEF8 -2.26%, #1C2792 96.93%);
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        z-index: 6;
        height: 100vh;
        padding: 24px;
        display: none;
    }
}

header #check:checked ~ .dropdown-content {
    right: 0;
    display: flex;
}

header #check {
    appearance: none;
}

header #check:checked ~ .dropdown-content .close-menu {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
}

header #check:checked ~ .overley {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.open-menu svg path{
    fill: $CoolGray;
}
