
h1, h2, h3, h4, h5, h6, p, span, input, button, form,
header, section, div, footer, ul, li, a, ol, dl, dd, dt {
    font-family: "Roboto", sans-serif;
}

$CoolGray:#21272A;
$primeryBlue:#1CAEF8;
$blue:#1C2792;
$white:#FFF;
$yellow:#FDB614;
$black:#1E1E1E;
$primary1:#001D6C;
$CoolGray-20:#DDE1E6;
$whiteblue:#1B45B4;

/* _____________________________HEADER_____________________________ */
header{
    padding: 16px 0;
}

header{
    .navbar{
        .gap-list-item{
            gap:16px;
        }
    }

    li{
        a{
            font: {
                size: 16px;
                weight: 500;
            }

            color: $CoolGray;
            line-height: 100%;
        }

        :hover{
                color: $primeryBlue;
            }
    }
}

header {
    .dropdown-content {
        background: linear-gradient(239deg, $primeryBlue -2.26%, $blue 96.93%);
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        z-index: 6;
        height: 100vh;
        padding: 24px;
        display: none;
    }
}

header #check:checked ~ .dropdown-content {
    right: 0;
    display: flex;
}

header #check {
    appearance: none;
}

header #check:checked ~ .dropdown-content .close-menu {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
}

header #check:checked ~ .overley {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.open-menu svg path{
    fill: $CoolGray;
}


// hero section
.hero-section{
    padding: 80px 0;
    background: linear-gradient(239deg, $primeryBlue -2.26%, $blue 96.93%);

    .row{
        .col{
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    .img-item{
        img{
            width: 100%;
            display: block;
        }
    }

    .hero-item{
        padding-top: 32px;
        padding-bottom: 32px;

        h1{
            font: {
                    size: 54px;
                    weight: 700;
                }

            color:$white;
            line-height: 110%;
            .size-f{
                font-size: 42px;
            }

            margin-bottom: 24px;
        }

        p {
            font: {
                size: 18px;
                weight: 400;
            }
            color:$white;
            line-height: 140%;
            margin-bottom: 32px;
            width: 600px;
        }

        .main-link{
            font: {
                size: 20px;
                weight: 400;
            }
            border-radius: 8px;
            border: 2px solid $yellow;
            background: $yellow;
            height: 56px;
            width: 172px;
            color: $black;
            line-height: 100%;
            letter-spacing: 0.5px;
            transition: all linear 0.3s;
            
            &:hover{
                transform: translateY(10px);
            }
        }

    }
}

// case section
.case-section{
    padding: 80px 0;
    background-color: $white;

    .main-item{
        h2{
            font: {
                size: 20px;
                weight: 700;
            }
            color: $primary1;
            text-align: center;
            line-height: 100%;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        p{
            font: {
                size: 42px;
                weight: 700;
            }
            color: $CoolGray;
            text-align: center;
            line-height: 110%;
            margin-bottom: 64px;
        }
    }

    .item{
        border-radius: 8px;
        border: 1px solid $CoolGray-20;
        background: $white;
        transition: all linear 0.3s;

        &:hover{
            transform: scale(1.1);
            background-color: $CoolGray-20;
        }

        .img-item img{
            display: block;
            width: 100%;
        }

        .content{
            padding: 16px;

            h3{
                font: {
                    size: 20px;
                    weight: 700;
                }

                color: $CoolGray;
                line-height: 110%;
                margin-bottom: 16px;
            }

            p{
                font: {
                    size: 16px;
                    weight: 400;
                }

                color:$CoolGray;
                line-height: 140%;
            }
        }

        .more-info{
            padding: 16px;
            a{
                gap: 16px;

                p{
                    font: {
                        size: 20px;
                        weight: 500;
                    }

                    color: $whiteblue;
                    line-height: 100%;
                    letter-spacing: 0.5px;
                }
            }
        }
    }
}


